<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">Frozen Peas</h1>
      <h2 class="project-tagline">Things I have found on my walk to work</h2>
    </header>

    <main id="content" class="main-content" role="main">
      <p>Hello, nerds. I am Stephen Peasley. I walk about four kilometers to get to work and back. I often find interesting things along the way. Sometimes these are dirty things that I pick up with my bare hands then carry around for the rest of the day. Sometimes they are useful things. Some things I choose to just leave behind.</p>
      <p>Frozen Peas is dedicated to my sister, Connie. She loves to tell stories of how when I was a kid, I would bring home various things I found. Some items of note were spoons, two bamboo mats, a lawnmower, a pogo stick and more spoons.</p>
      <p>Enjoy.</p>
      <p><em>Stephen</em></p>
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">&copy; frozen-peas.com</span>
        {% endif %}
        <span class="site-footer-credits">All right reserved</span>
      </footer>
    </main>
  </body>
</html>